EVONET_INTERACTION_URL=
EVONET_SIGN_KEY=
EVONET_KEY_ID=
EVONET_STORE_ID=
# Optional. For key-based auth, set to: Key-based
EVONET_SIGN_TYPE=Key-based

NEXT_PUBLIC_EVONET_ENVIRONMENT=HKG_prod
NEXT_PUBLIC_EVONET_DEFAULT_CURRENCY=HKD
NEXT_PUBLIC_EVONET_DROPIN_SCRIPT_URL=https://cdn.jsdelivr.net/npm/cil-dropin-components@latest/dist/index.min.js

